html, body {
    background-image: url("/assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: "Montserrat", serif;
}

#headerLogo {
    width: 15em;
}

header, main, footer {
    margin-left: 8em;
    margin-right: 8em; 
}

header {
    padding-top: 2em;

 h1{
    font-weight: 500;
    font-size: 5em ;
    margin-right: 40%;
    line-height: 85%;
    
#welcomeList {
    margin-top: 3em;
}

#welcomeList li{
    margin-top: 0.4em;
}

#footerForm {
    margin-top: 5em;
}
=======


footer form{
    display:flex;
    justify-content: space-around;
}


footer p{
    font-size: 1.2em;
    
}

#welcomeCheckBox {
    margin-bottom: -1%;
    margin-left: -30%;
    cursor: pointer; 
    appearance: none;
    -webkit-appearance: none;
    width: 20px; height: 20px; background-color: transparent;
    border: 2px solid white;
 }


 #welcomeCheckBox:checked { 
    background-color: white
 }   
