html,
body {
    background-image: url("/assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: "Montserrat", serif;
    min-height: 100vh;
}

#headerLogo {
    width: 15em;
}

.welcomeHeader,
.welcomeMain,
.welcomeFooter {
    margin-left: 8em;
    margin-right: 8em;
}

.welcomeHeader,
.headerQuestions,
.headerResults,
.headerFeedback {
    padding-top: 2em;
}

.welcomeContainer h1 {
    line-height: 80%;
    font-weight: 400;
    font-size: 4em;
}

.welcomeContainer h1 span {
    font-weight: 700;
}

.welcomeContainer {
    font-size: larger;
}

.welcomeContainer h2 {
    color: #C2128D;
}

#welcomeList span {
    font-weight: bold;
}

#welcomeList {
    margin-top: 3em;
}

#welcomeList li {
    margin-top: 0.4em;
}

#footerForm {
    margin-top: 5em;
}

#footerForm div,
#footerForm button {
    display: inline-block;
}

#welcomeBtn {
    cursor: pointer;
    margin-left: 20em;
    width: 10em;
    height: 2.5em;
    font-size: xx-large;
    font-weight: 700;
    background-color: #00FFFF;
    border: none;
    box-shadow: 0px 0px 25px 3px #00FFFF;
}

#welcomeCheckBox {
    position: relative;
    top: 0.5em;
    width: 1.8em;
    height: 1.8em;
    background-color: transparent;
    border-radius: .25rem;
    appearance: none;
    cursor: pointer;
    border: 2px solid white;
}

#welcomeCheckBox:checked {
    background-color: #900080;
}

#welcomeCheckBox::before {
    content:"";
    position: absolute;
    top: 0%;
    left: 30%;
    width: 5px;
    height: 13px;
    border: 3px solid transparent;
    border-left: none;
    border-top: none;
    transform: rotate(45deg) scale(1);
}

#welcomeCheckBox:checked:before {
    border-color: #fff;
    animation: checkAnim .2s ease;
}

@keyframes checkAnim {
    from {
        transform: rotate(45deg) scale(10);
    }
}

#advert {
    font-size: large;
    color: red;
}

.headerQuestions {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.headerQuestions,
.mainQuestions,
.footerQuestions {
    margin-left: 8em;
    margin-right: 8em;
}

.timerFlex {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outerCircle {
    fill: none;
    stroke: transparent;
    stroke-width: 10;
}

.progressCircle {
    fill: none;
    stroke: #00FFFF;
    stroke-width: 10;
    stroke-dasharray: 439.82;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
}

#timer {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    color: white;
    z-index: 3;
}

.mainQuestions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* domande */

#questions {
    display: flex;
    flex-direction: column;
    line-height: 0.9em;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
}

.answer-btn {
    cursor: pointer;
    color: whitesmoke;
    margin: 2%;
    padding: 10px;
    border-radius: 50px 50px;
    width: 26rem;
    background-color: rgba(128, 128, 128, 0.1);
    height: 4rem;
    font-size: 35px;
    box-sizing: content-box;
}

/* Next paga */

.nextPag {
    cursor: pointer;
    margin-right: -4em;
    width: 10em;
    height: 2.5em;
    font-size: xx-large;
    font-weight: 700;
    background-color: #00FFFF;
    border: none;
    box-shadow: 0px 0px 25px 3px #00FFFF;
}

#counter {
    margin-left: auto;
    margin-right: auto;
    text-align: ce;
    font-size: 1.5em;
    font-weight: bolder;
}

.footerQuestions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8%;
}

.selected {
    background-color: #D20094;
}

/* style stelline */

.stars-container {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.star {
    background-color: transparent;
    cursor: pointer;
    opacity: 0.1;
    transition: opacity 0.3s, fill 0.3s;
}

.star:hover,
.star.selected,
.star.active {
    opacity: 1;
}

#container {
    width: 70em;
}

.headerResults,
.mainResults,
.footerResults {
    padding-left: 3em;
    padding-right: 3em;
}

.graph {
    width: 35em;
    height: 35em;
}

.graphic div {
    display: inline-block;
}

.mainResults,
.footerResults {
    text-align: center;
}

#rateUsBtn {
    width: 10em;
    height: 2.5em;
    font-size: xx-large;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 1.5em;
}

#rateUsBtn:hover {
    cursor: pointer;
    background-color: #03FFFF;
    filter: drop-shadow(0 0 10px #03FFFF);
    opacity: 1;
}

.resultTitle {
    font-size: 3em;
}

.resultP {
    font-size: 1.5em;
}

.graphic {
    display: flex;
    justify-content: space-between;
}

#correctResult,
#wrongResult {
    font-size: xx-large;
}

#graphContent {
    width: 20em;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

#graphContent h3 {
    font-weight: 600;
    line-height: 1.8;
}

#graphContent>p:last-child {
    line-height: 1.5;
    font-weight: lighter;
    font-size: 0.8em;
}

.headerFeedback,
.mainFeedback,
.footerFeedback {
    margin-left: 8em;
    margin-right: 8em;
}

.mainFeedback,
.footerFeedback {
    display: flex;
    justify-content:center ;
    flex-direction: column;
    text-align: center;
}

#feedbackComment {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid  #D20094;
    padding-right: 30%;
    margin-top: 5%;
    color: white;
}
#feedbackComment:focus{
    outline: none;
}

#moreInfoBtn {
    cursor: pointer;
    width: 10em;
    height: 2.5em;
    font-size: large;
    font-weight: 700;
    background-color: #00FFFF;
    border: none;
    filter: drop-shadow(0 0 10px #03FFFF);
    opacity: 1;
    margin-top: 3em;

}

.hExtra {
    text-align: center;
    filter: drop-shadow(0 0 10px #03FFFF);
}

.h2Extra, .h4Extra, .pExtra {
    text-align: center;
}

.h2Extra {
    margin-top: 3em;
}

.spanExtra {
    color: red;
}

#welcomeBack {
    cursor: pointer;
    width: 13em;
    height: 3em;
    font-size: large;
    font-weight: 700;
    background-color: #00FFFF;
    border: none;
    filter: drop-shadow(0 0 10px #03FFFF);
    opacity: 1;
    margin-top: 3em;
}

.footerExtra {
    padding-right: 15em;
    padding-bottom: 10em;
    text-align: right;
}